{{#if this.showBrandHeader}}
  <div id="ame-brand-header">
    <div class="brand-inner">
        <div class="quote q1"></div>
        <div class="quote q2"></div>
        <div class="quote q3"></div>
    </div>
  </div>
  <div class="ame-hero-panel">
    <div class="ame-hero-panel__inner">
      <h1 class="ame-anthem">{{theme-setting "hero_motto_text"}}</h1>
      <div class="ame-hero__tiles">
        <a href="{{theme-setting "hero_card_1_url"}}" class="ame-card">
          <span class="ame-card__title">{{theme-setting "hero_card_1_label"}}</span>
        </a>
        <a href="{{theme-setting "hero_card_2_url"}}" class="ame-card">
          <span class="ame-card__title">{{theme-setting "hero_card_2_label"}}</span>
        </a>
        <a href="{{theme-setting "hero_card_3_url"}}" class="ame-card">
          <span class="ame-card__title">{{theme-setting "hero_card_3_label"}}</span>
        </a>
        <a href="{{theme-setting "hero_card_4_url"}}" class="ame-card">
          <span class="ame-card__title">{{theme-setting "hero_card_4_label"}}</span>
        </a>
      </div>
    </div>
  </div>
{{/if}}
