{{! Professional Category Cards Section }}
<div class="ame-category-cards-section">
  <div class="ame-cards-grid">
    <a class="ame-card" role="listitem" href="{{theme-setting 'hero_card_1_url'}}">
      <div class="ame-card__icon">
        <svg width="48" height="48" viewBox="0 0 24 24" fill="currentColor">
          <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"/>
        </svg>
      </div>
      <span class="ame-card__title">{{theme-setting 'hero_card_1_label'}}</span>
      <span class="ame-card__sub">Vendor Manuals, Specs & Docs</span>
    </a>

    <a class="ame-card" role="listitem" href="{{theme-setting 'hero_card_2_url'}}">
      <div class="ame-card__icon">
        <svg width="48" height="48" viewBox="0 0 24 24" fill="currentColor">
          <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H6l-2 2V4h16v12z"/>
        </svg>
      </div>
      <span class="ame-card__title">{{theme-setting 'hero_card_2_label'}}</span>
      <span class="ame-card__sub">Ask Questions & Share Expertise</span>
    </a>

    <a class="ame-card" role="listitem" href="{{theme-setting 'hero_card_3_url'}}">
      <div class="ame-card__icon">
        <svg width="48" height="48" viewBox="0 0 24 24" fill="currentColor">
          <path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/>
        </svg>
      </div>
      <span class="ame-card__title">{{theme-setting 'hero_card_3_label'}}</span>
      <span class="ame-card__sub">Guides, Tutorials & Fixes</span>
    </a>

    <a class="ame-card" role="listitem" href="{{theme-setting 'hero_card_4_url'}}">
      <div class="ame-card__icon">
        <svg width="48" height="48" viewBox="0 0 24 24" fill="currentColor">
          <path d="M20 9V7c0-1.1-.9-2-2-2h-3c0-1.66-1.34-3-3-3S9 3.34 9 5H6c-1.1 0-2 .9-2 2v2c-1.66 0-3 1.34-3 3s1.34 3 3 3v4c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-4c1.66 0 3-1.34 3-3s-1.34-3-3-3zm-2 10H6V7h12v12zm-9-6c-.83 0-1.5-.67-1.5-1.5S8.17 10 9 10s1.5.67 1.5 1.5S9.83 13 9 13zm7.5-1.5c0 .83-.67 1.5-1.5 1.5s-1.5-.67-1.5-1.5.67-1.5 1.5-1.5 1.5.67 1.5 1.5zM8 15h8v2H8v-2z"/>
        </svg>
      </div>
      <span class="ame-card__title">{{theme-setting 'hero_card_4_label'}}</span>
      <span class="ame-card__sub">Get Instant Answers</span>
    </a>
  </div>
</div>
