<div class="banner-box">
  <div class="container">
    <div class="section-header">
      <h2 class="x-title">{{theme-setting 'banner_title_text'}}</h2>
      <div class="colored-line"></div>
      <p>{{theme-setting 'banner_subtitle_text'}}</p>
    </div>
    <div class="cta-buttons">
      <a class="btn btn-primary" href="{{theme-setting 'banner_cta_1_url'}}">
        <span class="d-button-label">{{theme-setting 'banner_cta_1_text'}}</span>
      </a>
      <a class="btn btn-primary" href="{{theme-setting 'banner_cta_2_url'}}">
        <span class="d-button-label">{{theme-setting 'banner_cta_2_text'}}</span>
      </a>
    </div>
  </div>
</div>
